{% extends "index.html" %}
{% block title %}Todo's{% endblock title %}
{% block content %}
    {% for task in tasks %}
        {% include 'form.html' %}
    {% endfor %}
    <form action="/tasks/" method="post">
        <label for="task">Task Name:</label>
            <input type="text" id="task" name="task" value="">
            <textarea row="15" col="50" id="description" name="description" ></textarea>
        <label for="due-date">Due by:</label>
            <input type="text" id="due-date" name="due-date" value="">
        <button type="submit">Add the task</button>
    </form>
{% endblock content %}